.App {
  font-family: sans-serif;
  text-align: center;
}
.card{
  border:1px solid #ccc;
  border-radius:10px;
}
.card img{
  width: 300px;
}
.product-list{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px 10px;
}
.card .card-title {
  font-size: 18px;
  text-align: center;
}
.card .card-text {
  font-size: 12px;
  text-align: justify;
}
